body {

font-family: 'Archivo Black', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Archivo', sans-serif;
background-color: #fafafa;
/*background-color: #ffffeb; */
}

.bg-puramar {
  color: #ffffeb;
}

.fab {
  color: rgb(77, 77, 77);
}

footer p {
    font-size: 0.8em;
    }

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-grey {
  color: grey;
}

.menu-secundario {
  font-size: 14px;
}

.platos {
  font-size: 24px;
}

.bold-line {
    height: 20px;
    background-color: rgb(240, 240, 240);
    border: none;
}

.text-right {
  text-align: right;
}